/* .stage {
    overflow: hidden;
    position: relative;
    width: 80vw;
    height: 50vw; */
    /* background: #fff000;
} */
@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(-50vw, -30vh);

    }
}

@keyframes moving2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(50vw, -30vh);

    }
}

@keyframes moving3 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(60vw, -20vh);

    }
}

.ilbuni {
    position: absolute;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.ilbuni.a {
    left: 85%;
    bottom: 20%;
    background-image: url('../images/pop3.png');
    animation: moving infinite alternate;
    animation-duration: 1s;
}
.ilbuni.b {
    left: 10%;
    bottom: 10%;
    background-image: url('../images/pop3.png');
    animation: moving2 infinite alternate;
    animation-duration: 1.5s;
}
.ilbuni.c {
    left: 80%;
    bottom: 30%;
    background-image: url('../images/pop3.png');
    animation: moving infinite alternate;
    animation-duration: 2s;
}

.ilbuni.d {
    left: 50%;
    bottom: 10%;
    background-image: url('../images/pop3.png');
    animation: moving infinite alternate;
    animation-duration: 1.5s;
}

.ilbuni.e {
    left: 20%;
    bottom: 30%;
    background-image: url('../images/pop3.png');
    animation: moving2 infinite alternate;
    animation-duration: 1s;
}

.ilbuni.f {
    left: 10%;
    bottom: 5%;
    background-image: url('../images/pop3.png');
    animation: moving3 infinite alternate;
    animation-duration: 0.7s;
}
